* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 238, 193);
}
header {
    border-bottom: 3px solid #3e2929; 
}
.ssection {
    display:grid;
    grid-template-columns:repeat(5);
    
}
.pimage {
    border: solid, red;
    margin-right: 1000px;
}
.pdivo {
    background-color: rgb(224, 142, 75);
}